<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Dear <span th:text="${recipientName}">recipientName,</span></p>
    <br />
    <p>You have been invited to XXX Employee Management Platform</p>
    <br />
    <b>Use the following credentials:</b>
    <p>Email: <span th:text="${email}">email</span></p>
    <p>Password token: <span th:text="${passtoken}">password</span></p>
    <a th:href="@{https://master.d3gd3qq5x6pnph.amplifyapp.com//reset-password(resettoken=${passtoken})}">Click here to access the platform!</a>
  </body>
</html>